@model RSReceipt
@using RestSys.Models
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Menu</title>
    <link href="/Styles/MenuStyle" rel="stylesheet" />
</head>
<body>
    <div id="page">
        <h1>RestSys</h1>
        pjsdfoijsfdjifd]as

        sfd<br/>
        asf<br />
        s<br />
        afd<br />
        fsda<br />
        fdsa<br />
        ds<br />
        af<br />
        ds<br />
        fsdafsdaas<br />
    </div>
</body>
</html>