<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <IncludeSetAclProviderOnDestination>False</IncludeSetAclProviderOnDestination>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://restsys.uxsoft.cz</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://lin.arvixe.com</MSDeployServiceURL>
    <DeployIisAppPath>restsys.uxsoft.cz</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>restsysuxsoftcz_pub</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RSDbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=localhost;Initial Catalog=RestSys;Integrated Security=False;User ID=RestSys;Password=4Dga2lIPy18r" Name="Data Source=localhost;Initial Catalog=RestSys;Integrated Security=False;User ID=RestSys;Password=4Dga2lIPy18r;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="RestSys.Models.RSDbContext, RestSys" MigrationConfiguration="RestSys.Migrations.Configuration, RestSys" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RSDbContext-Web.config Connection String">
      <ParameterValue>Data Source=localhost;Initial Catalog=RestSys;Integrated Security=False;User ID=RestSys;Password=4Dga2lIPy18r;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>